@import "tailwindcss";

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    background-color: oklch(92.3% 0.003 48.717);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --font-size-base: 18px;
    --font-size-heading: 2rem;
    --font-size-subheading: 1.5rem;
    --font-size-body: 1rem;
    --font-size-caption: 0.75rem;
}

h1 {
    font-size: var(--font-size-heading);
    font-weight: 600;
}
